In [1]:
%load_ext autoreload
%autoreload 2

import ipywidgets as widgets
import numpy as np
import os
import pandas as pd
import seaborn as sns

from benchmarks import gsa_svm_fitness
from src.entities import GSA

from IPython.display import display
from matplotlib import pyplot as plt
from scipy import stats as st
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.svm import SVC
from typing import Mapping, Tuple, Union
from ucimlrepo import fetch_ucirepo

In [4]:
import numpy as np
import pandas as pd

# Generate random timetable in corridor Madrid - Barcelona
stations = ['Madrid', 'Zaragoza', 'Lleida', 'Tarragona', 'Barcelona']
rus = ["AVE", "AVLO", "Ouigo", "Iryo"]

# Generate timetable with 100 requests of trips from Madrid to Barcelona
np.random.seed(0)

n_requests = 100

# Generate requests with random origin, destination, stops, departure, arrival and train
requests = pd.DataFrame({
    "origin": np.random.choice(stations, n_requests),
    "destination": np.random.choice(stations, n_requests),
    "stops": np.random.randint(0, 3, n_requests),
    "departure": np.random.randint(0, 24, n_requests),
    "arrival": np.random.randint(0, 24, n_requests),
    "train": np.random.choice(rus, n_requests)
})

requests

       origin destination  stops  departure  arrival  train
0   Barcelona      Lleida      1          7       17   AVLO
1      Madrid   Tarragona      1         23        9   AVLO
2   Tarragona      Lleida      2         13       22    AVE
3   Tarragona    Zaragoza      0         17        0   AVLO
4   Tarragona      Lleida      1         20       19   AVLO
..        ...         ...    ...        ...      ...    ...
95   Zaragoza   Barcelona      0         19       19   AVLO
96     Madrid      Madrid      1         22        6    AVE
97     Lleida      Lleida      2         22        1   AVLO
98     Lleida   Tarragona      0          7       12    AVE
99  Tarragona   Tarragona      0          9       18  Ouigo

[100 rows x 6 columns]